<p id="notice"><%= notice %></p>

<p>
  <strong>Gauge:</strong>
  <%= @block.gauge %>
</p>

<p>
  <strong>Name:</strong>
  <%= @block.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @block.content %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
