<%= form_for portal, :data => { 'app-form': action_name }, html: { :class => 'form-horizontal app-form', name: 'form_for_portal' } do |f| %>
  <div class="slide">
    <div class="blurb">
      <%= content_tag :div, "Portal Form", :class => 'title' %>
      <div class="sub">
        {{ form_for_portal["portal[name]"].$viewValue }}
      </div>
    </div>
    <div class="slurp">
      <div class="garl">

        <div class="layout-gt-xs-column">

          <div class="form-group">
            <%= f.label :name, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :name, :class => 'form-control', :data => { 'ng-model': 'form_for_portal["portal[name]"].$viewValue'} %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <%= f.check_box :published, :data => { 'ng-model': 'form_for_portal["portal[published]"].$viewValue'} %>
                  Publised
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="form-actions">
          <%= f.submit "Submit", :class => 'md-button md-accent md-hue-1 md-raised pull-right' %>
        </div>

      </div>
    </div>
  </div>
<% end %>
