<% title 'All Portals' %>
<section class="content-sections">

  <section class="content-header">
    <h1>
      Portals
    </h1>
  </section>

  <section class="content">
    <div class="row">
      <% @portals.each do |portal| %>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="panel block panel-primary text-center">
            <div class="panel-body asbestos">
              <h4><%= portal.name %></h4>
            </div>
            <div class="panel-footer">
              <%= link_to 'Show', portal, :class => 'card-links' %>
              <%= link_to 'Edit', edit_portal_path(portal), :class => 'card-links' %>
              <%= link_to 'Destroy', portal, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'card-links' %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
    <%= link_to 'New Portal', new_portal_path %>
  </section>


</section>
