<%= form_for dmodel, :html => { :class => 'form-horizontal' } do |f| %>
  <% if dmodel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dmodel.errors.count, "error") %> prohibited this widget from being saved:</h2>
      <ul>
      <% dmodel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, :class => 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :name, :class => 'form-control', :placeholder => :name %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :subdomain, :class => 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :subdomain, :class => 'form-control', :placeholder => :subdomain %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-sm-offset-3 col-sm-3">
      <%= f.submit "Submit", :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
