<%= semantic_form_for(dashboard) do |f| %>
  <% if dashboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dashboard.errors.count, "error") %> prohibited this dashboard from being saved:</h2>

      <ul>
      <% dashboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <%= f.inputs :name => "Advanced" do %>
      <%= f.input :client %>
      <%= f.input :name %>
      <%= f.input :subdomain %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
      <%= f.action :cancel, :as => :link %>
    <% end %>
  </div>
<% end %>
