<!doctype html>
<html lang="en" class="no-js">
  <head>
  	<meta charset="UTF-8"/>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  	<meta name="description" content="rykn0wxx" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <title><%= yield(:title) || 'CSM' %></title>

    <%= javascript_tag do %>
      document.documentElement.className = 'js';
    <% end %>

    <%= tag :meta, name: :kohana, action: action_name, controller: controller_name %>

    <%= stylesheet_link_tag    'application' %>
    <%= yield :jsscripts %>
    <%= csrf_meta_tags %>
    <%= yield :head %>

  </head>

  <body class="rykn0wxx">

    <div id="wrapper" class="wrapper">

      <!-- header -->
      <% @not_to_show = ['sessions', 'registrations'].include?(controller_name) %>
      <%= render 'partials/header' if !@not_to_show %>
      <!-- header -->

      <!-- sidebar -->
      <!-- sidebar -->

      <% if controller_name === 'home' %>
        <%= yield %>
      <% else %>
        <div class="content-wrapper">

          <div class="content" style="width:85%;">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
            <%= yield %>
          </div>
        </div>
      <% end  %>

    </div>

  </body>
</html>
