<!doctype html>
<html lang="en" ng-app="mud" ng-controller="MudCtrl as vm" ng-cloak="true">
  <head>
  	<meta charset="UTF-8"/>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  	<meta name="description" content="rykn0wxx" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <title>Csm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= yield :head %>

  </head>

  <body class="rykn0wxx">

    <%= content_tag(:input, nil, :type => 'hidden', :value => controller_name, :id => 'ctrlname') %>

    <div id="wrapper">

      <!-- header -->
      <%= render 'partials/header' %>
      <!-- header -->

      <!-- sidebar -->
      <!-- sidebar -->


      <div class="content-wrapper">

        <div class="content">
          <%= yield %>
        </div>

      </div>

    </div>

    <%= javascript_include_tag 'application' %>

  </body>
</html>
